.articles-container {
  padding: 20px;
  column-count: 4; /* Set the number of columns */
  column-gap: 20px; /* Adjust as needed */
  max-width: 2000px; /* Maximum width for the container */
  margin: auto; /* Center the container on the page */
}

.articles-page {
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(249, 244, 235);
  width: auto;
}

.app-title {
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.sort {
  display: flex;
}

.sort-option {
  margin: 0px 1.5rem 1rem 1.5rem;
  cursor: pointer;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1600px) {
  .articles-container {
  margin: 1rem;
  width: 60%;
  column-count: 3;
  column-gap: 0px;
  align-items: center;
}
}

@media (max-width: 1029px) {
  .articles-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
@media (max-width: 760px) {
  .app-title {
    font-size: 1rem;
  }

  .sort-option {
    font-size: .6rem;
  }
}